* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background-color: bisque;
}

section {
    max-width:  50%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    margin: auto;
}

table , th , tr, td {
    border: 2px solid brown;
    border-collapse: collapse;
    padding: 0.4em 0.6rem;
}

tr:nth-child(odd) {
    background-color: chocolate;
}